apiVersion: v1
kind: Secret
metadata:
  name: cloud-node-secret
  namespace: cloud-node
type: Opaque
stringData:
  api_node.yaml: |
    rpc.endpoints:
      - https://YOUR_API_NODE_ENDPOINT
    nodeId: "YOUR_LOGICAL_NODE_ID"
    secret: "YOUR_LOGICAL_NODE_SECRET"
  internal-token: "CHANGE_ME_TO_A_LONG_RANDOM_TOKEN"
